@import url('https://fonts.googleapis.com/css?family=Open Sans:400,500,600,700');
@font-face {
    font-family: 'Vogue';
    src: url("../fonts/Vogue.ttf") format('TrueType');
}
body{
	font-family: 'Georgia', serif;
	font-size: 14px;
	color: #212529;
}
.section{
	padding:50px 0;
	min-height:300px;
}

.header-area.sticky {
    /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);*/
	width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 99999;
	transition: 0.3s all ease;
}
.header-area.sticky .navbar-light{
	background-color: #fff !important;
}
a.nav-link{
	color: #000;
}
a.nav-link:hover{
	color:#61a0d7;
}
a.nav-link.active{
	color: #61a0d7;
}
.title{
	font-family: Vogue;
	
}
.subtitle{
	font-family: vogue;
}
.row{
	padding: 35px;
}
.fas{
	color: #000;
	font-size: 40px;
}
.fab{
	color: #000;
	font-size: 40px;
}
.social .fab{
	font-size: 30px;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
}
.navbar-light .navbar-nav .nav-link:hover {
	color: #61a0d7;
}

.navbar-light .navbar-nav .active .nav-link {
	color: #61a0d7;
}
.navbar-light .navbar-nav .active .nav-link:hover{
	color: #61a0d7;
}
#about{
	background-color: #000;
}
#about .subtitle,.resaltado,.p-white{
	color: #fff;
}
footer .resaltado{
	color: #000;
	font-family: vogue;
}

.subtitle::after{
	content: '';
	width: 100px;
	height: 2px;
	background-color: #77a6d6;
	display: block;
	margin: 20px 0px;
	padding-top: 0;
}
#contact{
	background-image: url("../img/lamp.jpg");
	background-size:cover;
	background-repeat: no-repeat;
}
#contact .subtitle{
	color: #fff;
}
.btn-dorado{
	background-color: #77a6d6;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 20px;
	letter-spacing: 2px;
	border: 0;
}
.btn-dorado:hover{
	background-color: #fff;
	color: #77a6d6;
}
footer {
	background-color: #fff;
}
.copyright{
	background-color: #000;
	padding: 5px 0;
}